<h3>Survey List</h3>

<p>Here is a list of all your surveys</p>

<ul>
  <% @surveys.each do |survey| %>
    <li><%= survey.name %></li>
  <% end %>
</ul>

<p>Create a new survey</p>


<form action="/surveys" method='post'>
  <label for='name'>Survey</label>
  <input id='name' name='name' type='text'>

  <button type='submit' class='btn btn-default'>Add Survey</button>
</form>
