<h3>Add a answer to the "<%= @question.question() %>" question</h3>

<form action="/answers" method="post">
  <input id="question_id" name="question_id" type="hidden" value="<%= @question.id() %>">

  <label for="answer">What is your answer:</label>
  <input id="answer" name="answer" type="text">

  <button type="submit">Add answer</button>
</form>

<% if @question.answers().any?() %>
<h3>Here are all answers:</h3>

<ul>
  <% @question.answers().each() do |ans| %>
  <li><%= ans.answer() %></li>
  <% end %>
</ul>
<% else %>
<p>There are no answers yet!</p>
<% end %>

<a href="/">Return to Main Page</a>
